
.header_01 {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100vh;
    background-color: #1F0F83;;
  }

.header_02 {
    position: fixed;
    top: 0px;
    left : 0px;
    height: 60px;
    width: 100vh;
    background-color: #EE3B2C;
}

  
.header_title {
    position: absolute;
    left: 25px;
    top: 15px;
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.button {
    /* Button */

font-family: Noto Sans JP;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;
text-align: center;

/* Primary */

color: #1F0F83;
}

.register_button {
    position: absolute;
    width: 130px;
    height: 40px;
    right: 27px;
    top: 35px;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 180px;
    height: 100vh;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}

.sidebar_item link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #828282;
}

.sidebar_item_fixed {
    position: fixed;
    left: 45px;
    bottom: 35px;

}

.sidebar_item li {
    line-height: 75px;
    list-style: none;
    }

main {
    display: block;
    margin-top: 100px;
    margin-left: 200px;
  }
 